{% extends "base.html" %}
{% block title %}

TABLE DATA
{% endblock %}
{% block content %}
<table border="1">


    <tr>

        <th>
            IDheaderr
        </th>
        <th>
            Titlesss
        </th>
        <th>
            Contentsss
        </th>

         <th>
            Action
        </th>

    </tr>


    {% for line in datakeyku %}

    {% if line.id == 5 %}
    <tr>
        <td>
            Member Special
        </td>
    </tr>
     {% endif %}
        <tr>
            <td>
                <a href="/blog/update/{{line.id}}"> {{line.id}}</a>
            </td>
            <td>
                {{line.title}}
    <!--title ngambil dari views.py datablog= blogs.objects.all().values() ,ambil object model.py title-->
            </td>
            <td>
                {{line.content}}
            </td>

              <td>
                 <a href="/blog/delete/{{line.id}}"> delete</a>
            </td>


        </tr>
    {% endfor %}

    <a href = "/blog/first-site"> Tambah Blog</a>




     <!--syntax khusus untuk render element di jinja (generator HTML) ,bukan bahasa python-->
</table>

{% endblock %}